.skills {
  width: 100%;
  min-height: 500px;
}
.text-src {
  .chiz {
    background-color: black;
  }
}
.card1 {
  text-align: justify;
}
.ant-progress-bg {
  background-color: rgb(236, 8, 8) !important;
}
.one {
  .ant-progress-bg {
    background-color: blueviolet !important;
  }
}
.two {
  .ant-progress-bg {
    background-color: rgb(2, 49, 204) !important;
  }
}
.four {
  .ant-progress-bg {
    background-color: rgb(5, 230, 61) !important;
  }
}
.five {
  .ant-progress-bg {
    background-color: rgb(222, 226, 1) !important;
  }
}
